

.bs{
    padding-left: 10%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }

  .column {
    padding: 20px;
  }

  .column.left {
    flex: 0 0 30%; /* Left column takes up 30% of the width */
    overflow-y: auto;
  }

  .column.middle {
    flex-grow: 1; /* This column takes up the remaining space */
    overflow: auto;
    padding: 10px;
    background-color: #fff; /* Optional: background color for better visibility */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.d{
  
  flex-grow: 1; /* This column takes up the remaining space */
  overflow: visible;
  padding-bottom: 10px;
  background-color: #fff; /* Optional: background color for better visibility */
  display: flex;
  justify-content: left;
  white-space: normal; 
  text-align: justify;
  
}
 

.image {
  width: 100%;
  height: 100%;
  background-color:black; /* Default background color */
  padding-top: 2%;
}

