<div class="bs">

    <div class="container">
        <div class="row">
          
          <div class="col-lg">
              <h4 class="styled-heading">El propósito central de esta plataforma es servirle de ayuda al OR para la toma de decisiones 
                ante la ocurrencia de un evento disruptivo al SEE; y evaluar la resiliencia ante ataques intencionales 
                ocasionados por un agente disruptor, que impiden la operación de un conjunto de líneas y generadores. 
                Además, emplear estrategia para la integración de DER como Generación Distribuida y el mecanismo de 
                Respuesta a la Demanda para mejora de la resiliencia con el uso de sistemas de prueba IEEE.
            </h4> 
            <h4 class="styled-heading1">
            El análisis de vulnerabilidad como proceso integro de evaluación, permite identificar, cuantificar y 
            priorizar debilidades y proporciona una evaluación confiable de las amenazas para reaccionar apropiadamente.
            </h4> 
          </div>
         
        </div>
      </div>
    
</div>


