
  .Foot{
    position:sticky;
    bottom:0;
    width:100%;
    height: 2.5rem;
    clear: both;
    text-align: center;
    background-color: rgb(235, 227, 227);
    z-index: 1000;
  }

  .Foot a {
    margin-left: 15px;
    font-weight: bold;
}

.Foot a:hover {
    color: #f0a500;
}