

.bs{
margin-left: auto;
margin-right: auto;
display: table;

}

.column {
    float: left;
    width: 30%;
    }
    
    .ag-header-cell-label .ag-header-cell-text {
        white-space: normal !important;
      }


     